<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLAM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>703A4D5F1BCC29E8004F6B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>703A4D781BCC29E8004F6B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>703A4D831BCC29E8004F6B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
